/* .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar-heading {
    color: #adff2f; /* Yellowish Green */
    /* padding: 10px 15px;
    margin-bottom: 20px;
} */

/* .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    background-color: #555;
}

.sidenav a.active {
    background-color: #4CAF50;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.bottom-links a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block; */
/* } */ 

/* .bottom-links a:hover {
    background-color: #555;
}
.search-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
} */
